{% extends 'layouts.master' %}

{% block content %}
    {# 新着記事の次のカラムに表示させる内容の変数設定 #}
    {% set secondColumnTitle = 'TECHNOLOGY' %}
    {% set secondColumnSubtitle = 'テクノロジー' %}
    {% set secondColumnCategory = 'qgrfb-gict' %}

    {% set contents = share.contents_7 %}
    {% set first_content = contents|first %}

    {% if first_content %}
        <section class="bg-white text-black">
            <img
                alt="{{ first_content.title }}"
                class="object-cover
                    w-full xl:h-[580px] sm:h-[480px] h-[380px]"
                src="{{ first_content.eyecatch ? first_content.eyecatch.url : asset('empty.jpeg') }}" />
            <div class="bg-black text-white">
                <div class="container mx-auto px-4">
                    <div class="flex items-center">
                        <div class="pr-8 py-6
                            hidden sm:block
                            border-white border-r">
                            <span class="sm:text-2xl text-xl font-bold">
                                {{ first_content.category.name }}
                            </span>
                        </div>
                        <div class="sm:pl-8 sm:py-6 py-4">
                            <a href="{{ route('blog.detail', {id: first_content.id}) }}" class="hover:opacity-60">
                                {{ first_content.title }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    <section class="bg-white">
        {% include 'components.home.tags' %}
    </section>

    <section class="bg-white text-black">
        {% include 'components.home.contents' with {
            contents: contents[1:],
            title: 'BLOG',
            subtitle: '新着記事',
            link: route('blog.index'),
            showCategory: true,
        } %}
    </section>
    <section class="bg-gray-100 text-black">
        {% include 'components.home.contents' with {
            contents: share.category_contents_6(secondColumnCategory),
            title: secondColumnTitle,
            subtitle: secondColumnSubtitle,
            link: route('blog.category', {
                id: secondColumnCategory,
            }),
        } %}
    </section>
{% endblock %}
