<div class="section-layout">
    <div class="flex justify-between items-center mb-8">
        <div class="section-header">
            <h3 class="section-header__title">
                {{ title }}
            </h3>
            <span class="section-header__subtitle">{{ subtitle }}</span>
        </div>
        <div class="flex space-x-4">
            <a href="{{ link }}" class="hover:opacity-60">
                一覧
                <i class="fas fa-chevron-right"></i>
            </a>
        </div>
    </div>
    <div class="flex flex-col sm:grid sm:grid-cols-2 lg:grid-cols-3 gap-8">
        {% for content in contents %}
            <article class="space-y-4">
                <a
                    href="{{ route('blog.detail', {id: content.id}) }}"
                    class="hover:opacity-60">
                    <div class="relative mb-4">
                        {% if showCategory and content.category %}
                            <span class="py-2 px-6 bg-white
                                absolute top-2 right-2
                                text-black text-sm">
                                {{ content.category.name }}
                            </span>
                        {% endif %}
                        <img
                            alt="{{ content.title }}"
                            class="object-cover
                                w-full xl:h-[380px] sm:h-[280px] h-full"
                            src="{{ content.eyecatch ? content.eyecatch.url : asset('empty.jpeg') }}" />
                    </div>
                    <p class="text-lg font-bold mb-4">
                        {{ content.title }}
                    </p>
                    {% if content.tags|length %}
                        <div class="tag mb-4">
                            {% for tag in content.tags %}
                                <span class="tag-label">
                                    {{ tag.name }}
                                </span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <p class="text-sm text-gray-500">
                        <i class="far fa-clock"></i>
                        {{ content.publishedAt|date('Y.m.d') }}
                    </p>
                </a>
            </article>
        {% else %}
            <p>記事はありません</p>
        {% endfor %}
    </div>
</div>
