{% set isPlain = plain ?? false %}

<header class="block z-10 shadow-md">
    <div class="border-b">
        <div class="container mx-auto px-4">
            <div class="py-4">
                <div class="flex justify-between items-center">
                    <div class="flex items-center space-x-4">
                        <a href="{{ route('home') }}">
                            <h1 class="text-3xl font-bold">{{ share.meta.name }}</h1>
                        </a>
                        <span class="text-sm">Simply Theme</span>
                    </div>
                    {% if not isPlain %}
                        <div class="hidden sm:flex items-center space-x-4">
                            {{ form_open({
                                route: 'blog.index',
                                method: 'get',
                            }) }}
                                <div class="inline-block bg-gray-200 rounded-full py-2 px-4">
                                    <input
                                        type="search"
                                        placeholder="検索キーワードを入力"
                                        name="q"
                                        value="{{ share.request.query.q }}"
                                        class="bg-gray-200 outline-none w-[280px]" />
                                </div>
                                <button type="submit" class="inline-block px-2">
                                    <i class="fas fa-search text-gray-400"></i>
                                </button>
                            {{ form_close() }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if not isPlain %}
        <div class="container mx-auto px-4">
            <div class="py-4 sm:overflow-auto overflow-x-scroll">
                <nav class="flex space-x-6 text-black min-w-max">
                    <a
                        class="hover:opacity-60"
                        href="{{ route('fixed-page', {
                            path: 'about'
                        }) }}">
                        {{ share.meta.name }}について
                    </a>
                    {% for c in share.categories %}
                        <a
                            class="hover:opacity-60"
                            href="{{ route('blog.category', {
                                id: c.id
                            }) }}">
                            {{ c.name }}
                        </a>
                    {% endfor %}
                </nav>
            </div>
        </div>
    {% endif %}
</header>
